.newstudent{
    width: 80%;
    height: auto;
    box-shadow: 0 15px 18px #ccc;
    margin: 80px auto;
    padding: 10px;
    border:1px solid rgb(226, 221, 221);
    /* background-color: rgb(29, 28, 28); */
}
.newstudent label{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}
.newstudent input{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
    direction: ltr;
    outline: none;
    margin: auto;
    border: 1px solid #ccc;
    
}